<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SCM - Login</title>
	<meta name="csrf-param" content="authenticity_token">
	<meta name="csrf-token" content="">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6 col-lg-3 m-auto form-signin text-center">
				<img src="assets/img/scm-logo.png" class="img-logo" alt="SCM Logo">
				<form class="m-auto form-bg" action="" method="POST">
					<input type="text" id="agent_user_name" class="form-control" [(ngModel)]="name" value="xxx" name="agent_user[name]" placeholder="Usuário" maxlength="14" autocomplete="off">
					<input type="password" id="agent_user_password" class="form-control password optional" [(ngModel)]="password" value="" name="agent_user[password]" placeholder="Senha">
		
					<div class="row form-options">
						<div class="checkbox mb-2">
							<label>
								<input type="checkbox" value="remember-me"><small> Manter conectado</small>
							</label>
						</div>
							<div class="dropdown btn-traducao mb-2">
								<a id="dropdownMenuButton" data-title="Gerenciar Traduções" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								   class="btn pull-left gerenciar-traducoes ng-scope dropdown-toggle">
								    <img src="assets/img/idiomas.png" class="idiomas">
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                					<li class="dropdown-item" [ngClass]="{'ativo': currentLanguage == 'en'}"><img src="assets/img/en.png" width="24" height="24"> &nbsp; English</li> 
                					<li class="dropdown-item" [ngClass]="{'ativo': currentLanguage == 'es'}"><img src="assets/img/es.png" width="24" height="24"> &nbsp; Español</li> 
                					<li class="dropdown-item" [ngClass]="{'ativo': currentLanguage == 'pt'}"><img src="assets/img/pt.png" width="24" height="24"> &nbsp; Português</li> 
					            </ul> 
							</div>
					</div>

					<button type="submit" class="btn btn-login btn-info btn-block mb-3" tabindex="0" (click)="onLogIn()"
					        [ladda]="isLoggingIn" data-color="blue" data-size="s" data-style="zoom-in">
						Acessar
					</button>

					<p><a href="#" class="btn-forget-pass text-info">Esqueci minha senha</a></p>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Rodape -->
	<div class="login-footer">
		<div class="text-copyright text-center">
			© ISI Engenharia 2020 - SCM &nbsp;(Vr. [POC] &nbsp;01/11/2020)
		</div>
	</div>
</body>

</html>