<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SCM - Login</title>
	<meta name="csrf-param" content="authenticity_token">
	<meta name="csrf-token" content="">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6 col-lg-3 m-auto form-signin text-center">
				<img src="assets/images/scm-logo.png" class="img-logo" alt="SCM Logo">
				<form class="m-auto form-bg" action="https://api.cerc.inf.br/portal/login" method="POST">
					<!-- <div class="scm-logo"></div> -->
					<input type="text" id="agent_user_name" class="form-control" [(ngModel)]="name" value="xxx" name="agent_user[name]" placeholder="Usuário" maxlength="14" autocomplete="off">
		
					<input type="password" id="agent_user_password" class="form-control password optional" [(ngModel)]="password" value="" name="agent_user[password]" placeholder="Senha">
		
					<div class="checkbox mb-2">
						<label>
							<input type="checkbox" value="remember-me"><small> Manter conectado</small>
						</label>
					</div>
					<button type="submit" class="btn btn-lg btn-danger btn-block mb-3"
							tabindex="0"  (click)="onLoggedin()">
						<small>Acessar</small>
					</button>

					<p><a href="#" class="btn-forget-pass text-danger">Esqueci minha senha</a></p>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Rodape -->
	<div class="login-footer">
		<div class="text-copyright text-center">
			© ISI Engenharia 2020 - SCM &nbsp;(Vr. [POC] &nbsp;01/11/2020)
		</div>
	</div>
</body>

</html>