html,
body {
  height: 100vh;
  outline: none !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(to right top, #eee, #d5d5d5, #dedede, #e8e8e8, #f1f1f1);
  font-family: 'Open Sans', sans-serif;
  background-image: url('../../assets/images/login-background.png');
  background-position: center center;
  background-size: cover;
}

/* Form */
.form-signin {
  background: #fff;
}

.img-logo {
  top: -70px;
  position: relative;
  z-index: 99;
  margin-bottom: -60px;
}

.form-bg{
  padding: 5px 5px 5px 5px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.form-signin input[type="checkbox"] {
  vertical-align: middle;
}

.form-signin .form-options {
  margin: 0;
}

.form-signin .form-options .checkbox label > input,
.form-signin .form-options .checkbox label > small {
  cursor: pointer;
}

.form-signin .form-options .btn-traducao {
  cursor: pointer;
  margin-left: auto; 
  margin-right: 0;
}
.form-signin .form-options .btn-traducao .dropdown-menu li:hover {
  background-color: #BBBBBB;
}
.form-signin .form-options .btn-traducao .dropdown-menu li.ativo {
  background-color: #BAC2D0;
}

.form-signin .form-options .btn-forget-pass {
  text-decoration: underline;
}

.login-footer {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 15%;
  bottom: 0;
  background-color: #09304a;
  opacity: 0.6;
}

.login-footer .text-copyright {
  color: white;
  font-size: 14px;
  font-weight: 500;
  vertical-align: text-top;
  opacity: 1;
}

@media (max-width: 992px) {
  body{
    background-image: url('../../assets/images/login-background.png');
    background-position: top left;
    background-size: contain;
  } 
  .form-signin {
    background: none;
  }
  .form-bg{
    background: #fff;
    padding: 75px 25px;
  }
}