<div class="row">
  <div class="col-12 col-sm-12 col-lg-12 mt-">
    <p class="h4">Faturamento</p>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-row">
            <div class="col-2">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;</span>
                </div>
              <input
                type="text"
                class="form-control"
                formControlName="dataInicio"
                name="dataInicio"
               placeholder="Mês"
                mascara="99"/>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" > <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;</span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="dataVencimento"
                name="dataVencimento"
                placeholder="Ano"
                mascara="9999"
              />
            </div>
            </div>
            <div class="col-4">
              <div class="input-group input-group-sm mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="cnpjEmissor"
                name="cnpjEmissor"
                placeholder="CNPJ"
                mascara="99.999.999/9999-99"/>
              </div>
            </div>

            <div class="col-2">
              <button
                class="btn btn-sm btn-info"
                [disabled]="!form.valid"
                (click)="onSubmit()">
                Filtrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 mt-3">
      <span class="h6">Quantidades de Devedores Vigentes no mês</span>
      <div class="row mt-3">
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Mês</small></p>

              <p class="card-text">{{ result.dataInicio }}</p>
            </div>



          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Ano</small></p>

              <p class="card-text">{{ result.dataVencimento }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Total</small></p>

              <p class="card-text">{{ result.quantidadeDevedor.toLocaleString('pt-BR',{minimumFractionDigits: 0,maximumFractionDigits:0}) }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo Base Unitário</small></p>

              <p class="card-text">{{result.custoBaseUnitarioDevedor.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo efetivo Unitário</small></p>
              <p class="card-text">{{result.custoEfetivoUnitarioDevedor.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-danger">Valor a Faturar</p>
              <p class="card-text">R${{result.valorTotalDevedor.toLocaleString('pt-BR', { minimumFractionDigits: 2,maximumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <span class="h6">Quantidade de Parcelas vigentes no mês</span>
      <div class="row mt-3">
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Mês</small></p>

              <p class="card-text">{{ result.dataInicio }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Ano</small></p>

              <p class="card-text">{{ result.dataVencimento}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Total</small></p>

              <p class="card-text">{{ result.quantidadeParcelas.toLocaleString('pt-BR',{minimumFractionDigits: 0,maximumFractionDigits:0}) }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo Base Unitário</small></p>
              <p class="card-text">{{result.custoBaseUnitarioParcela.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo efetivo Unitário</small></p>
              <p class="card-text">{{result.custoEfetivoUnitarioParcela.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-danger ">Valor a Faturar</p>
              <p class="card-text">R${{result.valorTotalParcela.toLocaleString('pt-BR', { minimumFractionDigits: 2,maximumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <span class="h6">Cessões de parcelas registradas no mes</span>
      <div class="row mt-3">
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Mês</small></p>

              <p class="card-text">{{ result.dataInicio }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Ano</small></p>

              <p class="card-text">{{ result.dataVencimento }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Total</small></p>

              <p class="card-text">R${{result.valor_cedido.toLocaleString('pt-BR',{minimumFractionDigits: 2,maximumFractionDigits:2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Taxa Base</small></p>

              <p class="card-text">{{ result.taxaBase.toLocaleString('pt-BR', {minimumFractionDigits: 2}) }}%</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Taxa Efetiva</small></p>

              <p class="card-text">{{ result.taxaBase.toLocaleString('pt-BR', {minimumFractionDigits: 2})  }}%</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-danger">Valor a Faturar</p>
              <p class="card-text">R${{result.valorTotalCessao.toLocaleString('pt-BR', { minimumFractionDigits: 2,maximumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <span class="h6">Saldo Médio Mensal</span>
      <div class="row mt-3">
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Mês</small></p>

              <p class="card-text">{{ result.dataInicio }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Ano</small></p>

              <p class="card-text">{{ result.dataVencimento }}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Total</small></p>
              <p class="card-text">R${{result.mediaEstoque.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo Base Unitário</small></p>
              <p class="card-text">{{result.custoBaseUnitarioEstoque.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}%</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Custo efetivo Unitário</small></p>
              <p class="card-text">{{result.custoEfetivoUnitarioEstoque.toLocaleString('pt-BR', { minimumFractionDigits: 2})}}%</p>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-danger">Valor a Faturar</p>
              <p class="card-text" >R${{result.valorTotalEstoque.toLocaleString('pt-BR', { minimumFractionDigits: 2,maximumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title"><small>Data da Consulta</small></p>

              <p class="card-text">{{ today.toLocaleDateString("pt-BR") }}</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-danger">Valor a Faturar</p>
              <p class="card-text">R${{result.valorTotalFaturamento.toLocaleString('pt-BR', { minimumFractionDigits: 2,maximumFractionDigits: 2})}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

