# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
/.vs
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
testedb.mv.db
testedb.trace.db
/src/app/layout/layout.component - Copia.css
/src/app/layout/layout.component - Copia.html
/src/app/layout/layout.component - Copia.ts
/src/app/layout/sidebar/sidebar.component - Copia.css
/src/app/layout/sidebar/sidebar.component - Copia.html
/src/app/layout/sidebar/sidebar.component - Copia.ts

# JSON Server
db-*.json