<div class="d-flex justify-content-between mb-3">
    <h1 class="page-heading">{{title}}</h1>
    <div class="text-right" *ngIf="detalhesCessao">
        <ng-container class="" *ngIf="cnpjUser == detalhesCessao.originador_cnpj">
            <button class="btn btn-sm btn-warning mr-2" *ngIf="detalhesCessao.status == 2" (click)="suspenderModal(templateSuspender)"><fa-icon class="" [icon]="faBan"></fa-icon> Suspender</button>
            <button class="btn btn-sm btn-info mr-2" *ngIf="detalhesCessao.status == 2" (click)="liberarModal(templateLiberar)"><fa-icon class="" [icon]="faCheck"></fa-icon> Liberar</button>
        </ng-container>
        <button class="btn btn-sm btn-primary btn-acao mr-2 text-white" *ngIf="detalhesCessao.status == 3" (click)="download()"><fa-icon class="mr-1" [icon]="faFileDownload"></fa-icon> Download</button>
        <!-- <button class="btn btn-sm btn-danger mr-2 text-white" *ngIf="detalhesCessao.status == 1" (click)="cancelarModal(templateCancelar)"><fa-icon class="mr-1" [icon]="faTimes"></fa-icon> Cancelar</button> -->
        <botao-voltar class=""></botao-voltar>
    </div>
</div>

<!-- Modal -->
<ng-template #templateLiberar>
    <div class="modal-header">
        <small class="text-secondary">Deseja realmente liberar a cessão?</small>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right">
        <button class="btn btn-sm btn-light text-secondary mr-1 px-3" (click)="modalRef.hide()">Não</button>
        <button class="btn btn-sm btn-info px-3" (click)="confirmLiberar()">Sim</button>
    </div>
</ng-template>

<ng-template #templateSuspender>
    <div class="modal-header">
        <small class="text-secondary">Deseja realmente suspender a cessão?</small>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right">
        <button class="btn btn-sm btn-light text-secondary mr-1 px-3" (click)="modalRef.hide()">Não</button>
        <button class="btn btn-sm btn-warning px-3" (click)="confirmSuspender()">Sim</button>
    </div>
</ng-template>

<!-- <ng-template #templateCancelar>
    <div class="modal-header">
        <small class="text-secondary">Deseja realmente <b>cancelar</b> a cessão?</small>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right">
        <button class="btn btn-sm btn-light text-secondary mr-1 px-3" (click)="modalRef.hide()">Não</button>
        <button class="btn btn-sm btn-danger px-3" (click)="confirmCancelar()">Sim</button>
    </div>
</ng-template> -->

<!-- Detalhes -->
<div *ngIf="detalhesCessao" class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h6>Detalhes</h6>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <small class="text-secondary">Termo de Cessão:</small><br>{{ detalhesCessao.codigo_termo_cessao }}
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <small class="text-secondary">Valor da Cessão
                        </small><br>{{ detalhesCessao.total_cessao | formatCurrency }}
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <small class="text-secondary">Oferta será liberada
                            às:</small><br>{{ detalhesCessao.data_disponibilizacao | date:'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <small class="text-secondary">CNPJ
                            Cedente:</small><br>{{ detalhesCessao.originador_cnpj | cpfCnpj }}
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <small class="text-secondary">CNPJ
                            Cessionário:</small><br>{{ detalhesCessao.cnpj_cessionaria | cpfCnpj }}
                    </div>
                    <div class="col-12 col-sm-4 col-md-6 mb-2">
                        <div class="row bs-wizard" style="border-bottom:0;" 
                                [ngClass]="{'cs-concluida': detalhesCessao.status <= 3, 'cs-suspensa': detalhesCessao.status == 4, 'cs-cancelada': detalhesCessao.status == 5}">
                            <div class="col-4 col-xs-4 bs-wizard-step" [ngClass]="{'active': detalhesCessao.status == 1, 'complete': detalhesCessao.status > 1}">
                                <div class="text-center bs-wizard-stepnum">Oferta</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <div class="bs-wizard-dot"></div>
                            </div>
                            <div class="col-4 col-xs-4 bs-wizard-step" [ngClass]="{'disabled': detalhesCessao.status < 2, 'active': detalhesCessao.status == 2, 'complete': detalhesCessao.status > 2}">
                                <div class="text-center bs-wizard-stepnum">Aceite</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <div class="bs-wizard-dot"></div>
                            </div>
                            <div class="col-4 col-xs-4 bs-wizard-step" [ngClass]="{'disabled': detalhesCessao.status < 3, 'active': detalhesCessao.status >= 3}">
                                <div class="text-center bs-wizard-stepnum">{{detalhesCessao.status <= 3 ? "Liberação" : detalhesCessao.status == 4 ? "Suspensa" : "Cancelada"}}</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <div class="bs-wizard-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cnab-->
<div class="" *ngIf="detalhesCessao">
    <div class="" *ngIf="detalhesCessao.status == 1">
        <div class="" *ngIf="cnpjUser != detalhesCessao.originador_cnpj">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mb-2">
                        <h6 class="mb-0">CNAB</h6>
                        <small class="text-secondary">Clique para fazer download dos arquivos:</small>
                        <div class="d-flex justify-content-start mt-2">
                            <div class="mr-1" *ngFor="let item of listaCnab">
                                <button (click)="getDownloadCnab(item)" class="btn btn-sm btn-light btn-download-file">
                                    <fa-icon class="text-secondary" [icon]="faFileDownload"></fa-icon> {{ item }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Parcelas-->
<div class="card" *ngIf="detalhesCessao">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h6>Parcelas</h6>
            <div class="" *ngIf="detalhesCessao.status == 1">
                <button class="btn btn-sm btn-info text-white" *ngIf="detalhesCessao.id_tipo_relacao_agente == 8" (click)="aceitarTodasParcelas()">
                    <fa-icon class="" [icon]="faCheck"></fa-icon> Aceitar todas as parcelas
                </button>
            </div>
        </div>
        <div *ngIf="detalhesParcela" class="table-responsive card">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let head of headParcelas" scope="col" style="cursor: unset !important">
                            <b>{{head}}</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parcela of detalhesParcela">
                        <td class="text-nowrap" style="cursor: unset !important">
                            {{parcela.codigo_contrato_operacao_credito}}
                        </td>
                        <td class="text-nowrap" style="cursor: unset !important">
                            {{parcela.numero_parcela}}
                        </td>
                        <td class="text-nowrap" style="cursor: unset !important">
                            {{parcela.valor_parcela | formatCurrency}}
                        </td>
                        <td class="text-nowrap" style="cursor: unset !important">
                            {{parcela.data_vencimento_parcela | date:'dd/MM/yyyy'}}
                        </td>
                        <td class="text-nowrap" style="cursor: unset !important">
                            {{parcela.msg_status }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>