<h1 class="page-heading">{{ title }}</h1>

<div class="row">
    <div class="col-12 mb-3">
        <p>Tipos de arquivos permitidos: *.ZIP</p>
        <!-- <ngx-dropzone 
            (filesAdded)="onFilesAdded($event)"
            (filesRejected)="onFilesRejected($event)"
            [label]="'Clique para selecionar um arquivo ou arraste um arquivo nesta área'">
        </ngx-dropzone> -->

        <form novalidate [formGroup]="formImport">
            <div class="row">
                <!-- <div class="col-12">
                    <div class="custom-file input-group">
                        <input type="file" class="form-control custom-file-input" formControlName="importFile" aria-label="Selecione um arquivo para upload" placeholder="Selecione um arquivo para upload" id="importFile" (change)="onFileChange($event.target.files)" [ngClass]="{ 'is-invalid': submitted && f.importFile.errors }" accept=".zip" />
                        <label class="custom-file-label" #labelImport for="importFile"><i class="fas {{ faFilter }}"></i> Escolher arquivo</label>
                    </div>
                </div> -->

                <div class="col-12">
                    <div class="form-group files">
                        <label class="d-flex align-items-center label-background">
                        <input
                            type="file"
                            class="form-control border-0"
                            formControlName="importFile"
                            id="importFile"
                            (change)="onFileChange($event.target.files)"
                            [ngClass]="{'is-invalid': submitted && f.importFile.errors}"
                            accept=".zip"
                        />
                        <div *ngIf="fileName == ''; else elseBlock">
                            <i class="fa fa-upload"><span class="text-muted text-center ml-2">Selecione um arquivo (.ZIP)</span></i>
                        </div>
                        <ng-template #elseBlock>
                            <i class="fa fa-file blue"><span class="text-muted text-center ml-2">{{fileName}}</span></i>
                        </ng-template>
                        </label>
                    </div>
                </div>
                
                <div class="col-12 mt-2">
                    <div class="d-flex justify-content-end">
                        <button (click)="import()" class="btn btn-primary btn-acao px-3">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
