<nav class="navbar navbar-expand-md">
    <button id="menu-toggle" class="btn btn-link  x-navigation-minimize" (click)="toggleIcon()" tabindex="-1">
        <fa-icon *ngIf="sidebarIsMinimized" class="text-light fa-lg" [icon]="faIndent"></fa-icon> 
        <fa-icon *ngIf="! sidebarIsMinimized" class="text-light fa-lg" [icon]="faOutdent"></fa-icon> 
    </button>
    <a class="navbar-brand" [routerLink]="['/inicio']" tabindex="-1">
        <img src="assets/images/scm-header.png" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" ngbDropdown display="dynamic">
                <a href="javascript:void(0)" class="nav-link text-light text-capitalize text-lg mt-1 ml-3" ngbDropdownToggle>
                    <b>005948774</b>
                </a>
                <div class="dropdown-menu dropdown" ngbDropdownMenu>
                    <a class="dropdown-item">
                        032659854
                    </a>
                    <a class="dropdown-item">
                        120556985
                    </a>
                    <a class="dropdown-item">
                        124598561
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown" ngbDropdown display="dynamic">
                <a href="javascript:void(0)" class="nav-link text-light text-capitalize mt-1 ml-3" ngbDropdownToggle>
                    <fa-icon class="text-light fa-lg" [icon]="faUser"></fa-icon>
                </a>
                <div class="dropdown-menu dropdown" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/inicio">
                        Perfil
                    </a>
                    <a class="dropdown-item" routerLink="/alterar-senha">
                        Alterar senha
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#mb-signout"> 
                        <!-- [routerLink]="['/login']" (click)="onLoggedout()"> -->
                        Sair
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
