<div class="d-flex justify-content-between align-items-center mb-3">
	<h1 class="page-heading">{{title}}</h1>

	<div class="text-right">
		<botao-voltar></botao-voltar>
		<a class="btn btn-sm btn-primary btn-acao ml-2" routerLink="/contratos/editar/{{contrato.id}}">
			<fa-icon [icon]="faPen"></fa-icon>
			Alterar
		</a>
	</div>
</div>

<div *ngIf="contrato" class="registro row">
	<div class="col-12 col-md-4 mb-3 panel-detalhe">
		<div class="card">
			<div class="card-body">
				<h6>Contrato</h6>
				<div class="">
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Código:</small><br>{{contrato.codigo}}</div>
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Descrição:</small><br>{{contrato.descricao}}</div>
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Código do Projeto:</small><br>{{contrato.codigoProjeto}}</div>
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Valor:</small><br>{{contrato.valor | formatCurrency}}</div>
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Data Inicial:</small><br>{{contrato.dataInicial | date:'dd/MM/yyyy'}}</div>
					<div class="mb-2 mr-lg-5"><small class="text-secondary">Data Final:</small><br>{{contrato.dataFinal | date:'dd/MM/yyyy'}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-8 mb-3 panel-detalhe">
		<div class="card">
			<div class="card-body">
				<h6>Arranjo Físico</h6>
				<p class="mini-text">Defina as Unidades, Áreas e SOPs do Contrato</p>
				<hr>
				<div class="form-row">
					<div class="form-group panel-tree">

						<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
							<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
							  <button mat-icon-button disabled></button>
							  {{node.item}}
							</mat-tree-node>
							<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
							  <button mat-icon-button
									  [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
								<mat-icon class="mat-icon-rtl-mirror">
								  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
								</mat-icon>
							  </button>
							  {{node.item}}
							  <mat-progress-bar *ngIf="node.isLoading"
												mode="indeterminate"
												class="example-tree-progress-bar"></mat-progress-bar>
							</mat-tree-node>
						  </mat-tree>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

