<div class="d-flex justify-content-between mb-3">
    <h1 class="page-heading">{{title}}</h1>
    <div class="text-right">
        <botao-voltar></botao-voltar>
    </div>
</div>

<form [formGroup]="formSolictRegistro" (ngSubmit)="onSubmit()" class="row">
    <div class="col-12 col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <!-- agentes -->
                <h6>Dados dos Agentes</h6>
                <hr>
                <p class="mini-text">* Campos obrigatórios</p>
                <div formGroupName="agentes" class="mb-4">
                    <div class="form-row mb-4">
                        <div class="form-group col-12 col-md-2">
                            <label for="originador_cnpj">CNPJ originador*:</label>
                            <input type="text"
                                class="form-control form-control-sm" mask="00.000.000/0000-00" name="originador_cnpj"
                                id="originador_cnpj" [formControl]="agentes.controls['originador_cnpj']" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="detentor_cnpj">CNPJ detentor*:</label> <input type="text"
                                class="form-control form-control-sm" mask="00.000.000/0000-00" name="detentor_cnpj"
                                id="detentor_cnpj" [formControl]="agentes.controls['detentor_cnpj']" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="detentor_carteira">Carteira detentor*:</label> <input type="text"
                                class="form-control form-control-sm"
                                name="detentor_carteira" maxlength="50" id="detentor_carteira"
                                formControlName="detentor_carteira" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="garantidor_tipo_pessoa">Tipo pessoa garantidor*:</label> <select
                                class="form-control form-control-sm" name="garantidor_tipo_pessoa"
                                id="garantidor_tipo_pessoa" formControlName="garantidor_tipo_pessoa" required>
                                <option value="1">Física</option>
                                <option value="2">Jurídica</option>
                            </select>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="garantidor_numero_documento">Nº doc. garantidor*:</label>
                            <input type="text" maxlength="18" formControlName="garantidor_numero_documento" class="form-control form-control-sm" name="garantidor_numero_documento" id="garantidor_numero_documento" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="garantidor_cep">CEP garantidor*:</label> <input type="text" mask="00000-000"
                                class="form-control form-control-sm" name="garantidor_cep" id="garantidor_cep"
                                [formControl]="agentes.controls['garantidor_cep']" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="beneficiario_tipo_pessoa">Tipo pessoa beneficiário*:</label> <select
                                class="form-control form-control-sm" name="beneficiario_tipo_pessoa"
                                id="beneficiario_tipo_pessoa" formControlName="beneficiario_tipo_pessoa" required>
                                <option value="1">Física</option>
                                <option value="2">Jurídica</option>
                            </select>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="beneficiario_numero_documento">Nº doc. beneficiário*:</label> <input type="text"
                                class="form-control form-control-sm" name="beneficiario_numero_documento" maxlength="18"
                                id="beneficiario_numero_documento" formControlName="beneficiario_numero_documento"
                                required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="beneficiario_banco_credito">Banco beneficiário*:</label> <input type="text"
                                class="form-control form-control-sm" name="beneficiario_banco_credito" maxlength="20"
                                id="beneficiario_banco_credito" formControlName="beneficiario_banco_credito" required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="beneficiario_agencia_credito">Agência beneficiário*:</label> <input type="text"
                                class="form-control form-control-sm" name="beneficiario_agencia_credito" maxlength="5"
                                id="beneficiario_agencia_credito" formControlName="beneficiario_agencia_credito"
                                required>
                        </div>

                        <div class="form-group col-12 col-md-2">
                            <label for="beneficiario_conta_corrente_credito">Conta beneficiário*:</label> <input
                                type="text" class="form-control form-control-sm"
                                name="beneficiario_conta_corrente_credito" maxlength="10"
                                id="beneficiario_conta_corrente_credito"
                                formControlName="beneficiario_conta_corrente_credito" required>
                        </div>
                        
                        <div class="form-group col-12">
                            <small class="text-danger" *ngIf="validaDadosAgente">Preencha todos os campos</small>
                        </div>
                    </div>


                    <!-- <h6>Dados dos Credores</h6>
                    <hr> -->
                    <!-- credores -->
                    <!-- <div class="form-row mb-1 bg-light p-2" formArrayName="credores" *ngFor="let credor of credores.controls; let i = index">
                        <ng-container class="form-row" [formGroupName]="i">
                            <div class="form-group col-12 text-right mb-0">
                                <button class="btn btn-sm btn-outline-secondary" (click)="removeCredor(i)">X</button>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="credor_tipo_pessoa">Tipo pessoa credor*:</label>
                                <select class="form-control form-control-sm" id="credor_tipo_pessoa" formControlName="credor_tipo_pessoa">
                                    <option value="1">Física</option>
                                    <option value="2">Jurídica</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="credor_numero_documento">Nº documento credor*:</label>
                                <input class="form-control form-control-sm" id="credor_numero_documento" formControlName="credor_numero_documento">
                            </div>
                        </ng-container>
                    </div>

                    <div class="form-row mb-4">
                        <div class="form-group col-12 col-md-2">
                            <a class="btn btn-sm btn-info text-white" (click)="addCredor()" title="Adicionar credor">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                Adicionar credor
                            </a>
                            <small class="text-danger" *ngIf="validaCredor">Preencha todos os campos</small>
                        </div>
                    </div> -->


                    <h6>Dados dos Devedores</h6>
                    <hr>
                    <!-- devedores -->
                    <div class="form-row mb-1 bg-light p-2" formArrayName="devedores" *ngFor="let devedor of devedores.controls; let i = index">
                        <ng-container [formGroupName]="i">
                            <div class="form-group col-12 text-right mb-0">
                                <button class="btn btn-sm btn-outline-secondary" (click)="removeDevedor(i)">X</button>
                            </div>
                            <div class="col-12">
                                <div class="form-row">
                                    <div class="form-group col-12 col-md-4">
                                        <label for="devedor_tipo_pessoa">Tipo pessoa devedor*:</label>
                                        <select class="form-control form-control-sm" formControlName="devedor_tipo_pessoa" required>
                                            <option value="1">Física</option>
                                            <option value="2">Jurídica</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-12 col-md-4">
                                        <label for="devedor_numero_documento">Nº documento devedor*:</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="devedor_numero_documento" required>
                                    </div>

                                    <div class="form-group col-12 col-md-4">
                                        <label for="devedor_cep">CEP devedor*:</label>
                                        <input type="text" mask="00000-000" class="form-control form-control-sm" formControlName="devedor_cep" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-md-4">
                                        <label for="devedor_numero_celular">Cel. devedor*:</label>
                                        <input type="text" mask="(00) 00000-0000" class="form-control form-control-sm" formControlName="devedor_numero_celular" required>
                                    </div>

                                    <div class="form-group col-12 col-md-8">
                                        <label for="devedor_email">E-mail devedor*:</label>
                                        <input type="text" maxlength="50" class="form-control form-control-sm" formControlName="devedor_email" required>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-md-2">
                            <a class="btn btn-sm btn-info text-white" (click)="addDevedor()"
                                title="Adicionar devedor">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                Adicionar devedor
                            </a>
                            <small class="text-danger" *ngIf="validaDevedor">Preencha todos os campos</small>
                        </div>
                    </div>
                </div>
                <!--fim tag form agentes-->

                <!-- contrato -->
                <h6>Dados do Contrato</h6>
                <hr>
                <div formGroupName="contrato_valores" class="form-row mb-4">
                    <div class="form-group col-12 col-md-2">
                        <label for="codigo_modalidade_operacao_credito">Cód. modalidade*:</label>
                        <input type="text" class="form-control form-control-sm" maxlength="20" name="codigo_modalidade_operacao_credito" id="codigo_modalidade_operacao_credito" formControlName="codigo_modalidade_operacao_credito" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="codigo_sub">Cód. sub*:</label>
                        <input type="text" maxlength="20" class="form-control form-control-sm" name="codigo_sub" id="codigo_sub" formControlName="codigo_sub" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="codigo_contrato_operacao_credito">Cód. contrato*:</label>
                        <input type="text" class="form-control form-control-sm" name="codigo_contrato_operacao_credito" maxlength="50" id="codigo_contrato_operacao_credito" formControlName="codigo_contrato_operacao_credito" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="data_transacao">Data transação*:</label>
                        <input type="text" class="form-control form-control-sm" name="data_transacao" bsDatepicker id="data_transacao" formControlName="data_transacao" required autocomplete="off">
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="data_contrato_sistema_IF">Data incl. contrato sist.*:</label>
                        <input type="text" class="form-control form-control-sm" name="data_contrato_sistema_IF" bsDatepicker id="data_contrato_sistema_IF" formControlName="data_contrato_sistema_IF" required autocomplete="off">
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="valor_total_credito">Valor total crédito*:</label>
                        <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', align: 'left', decimal: ','  }" class="form-control form-control-sm" name="valor_total_credito" id="valor_total_credito" [formControl]="contrato_valores.controls['valor_total_credito']" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="valor_liquido_credito">Valor líquido crédito*:</label>
                        <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', align: 'left', decimal: ',' }" class="form-control form-control-sm" name="valor_liquido_credito" id="valor_liquido_credito" [formControl]="contrato_valores.controls['valor_liquido_credito']" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="indexacao">Indexação*:</label>
                        <!-- <input type="text" class="form-control form-control-sm" name="indexacao" maxlength="10" id="indexacao" formControlName="indexacao" required> -->
                        <select class="form-control form-control-sm" name="indexacao" id="indexacao" formControlName="indexacao" required>
                            <option value="1">Pré-Fixado</option>
                            <option value="2">DI</option>
                            <option value="3">SELIC</option>
                            <option value="4">IPCA</option>
                            <option value="5">IGPM</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="taxa_juros_operacao">Taxa juros*:</label>
                        <input type="text" currencyMask [options]="{ prefix: '', suffix : '% ', precision: 4, align: 'left', allowZero: true }" class="form-control form-control-sm" name="taxa_juros_operacao" id="taxa_juros_operacao" [formControl]="contrato_valores.controls['taxa_juros_operacao']" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="quantidade_parcela_contratada">Qtd. parcelas*:</label>
                        <input type="number" class="form-control form-control-sm" name="quantidade_parcela_contratada" maxlength="5" id="quantidade_parcela_contratada" formControlName="quantidade_parcela_contratada" required>
                    </div>

                    <div class="form-group col-12 col-md-2">
                        <label for="tipo_ativo">Tipo ativo*:</label>
                        <select class="form-control form-control-sm" name="tipo_ativo" id="tipo_ativo" formControlName="tipo_ativo" required>
                            <option value="1">CCB</option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <small class="text-danger" *ngIf="validaDadosContrato">Preencha todos os campos</small>
                    </div>
                </div>


                <h6>Dados das Garantias</h6>
                <hr>
                <!-- garantias -->
                <div class="form-row mb-1 bg-light p-2" formArrayName="garantias" *ngFor="let garantia of garantias.controls; let i = index">
                    <ng-container [formGroupName]="i">
                        <div class="form-group col-12 text-right mb-0">
                            <button class="btn btn-sm btn-outline-secondary" (click)="removeGarantia(i)">X</button>
                        </div>
                        <div class="form-group col-12 col-md-4">
                            <label for="tipo_garantia">Garantia*:</label>
                            <select class="form-control form-control-sm" required>
                                <option value="veiculo">Veículo</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="garantia_valor_bem_originacao">Valor do Bem*:</label>
                            <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', align: 'left', decimal: ',' }" class="form-control form-control-sm" required formControlName="garantia_valor_bem_originacao">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="documento_bem_garantia">Documento do Bem*:</label> 
                            <input type="text" class="form-control form-control-sm" maxlength="20" required formControlName="documento_bem_garantia">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="documento_detentor">Documento do Detentor*:</label>
                            <input maxlength="20" type="text" class="form-control form-control-sm" required formControlName="documento_detentor">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="garantia_placa">Placa*:</label>
                            <input type="text" maxlength="10" class="form-control form-control-sm" required formControlName="garantia_placa">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="garantia_chassi">Chassi*:</label>
                            <input type="text" maxlength="20" class="form-control form-control-sm" required formControlName="garantia_chassi">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="sng_num_gravame">Nº Gravame*:</label>
                            <input maxlength="20" type="text" class="form-control form-control-sm" required formControlName="sng_num_gravame">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="sng_data_inclusao">Data Inclusão*:</label>
                            <input type="text" class="form-control form-control-sm" bsDatepicker required formControlName="sng_data_inclusao" autocomplete="off">
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="referencia">Referência*:</label>
                            <select class="form-control form-control-sm" required formControlName="referencia">
                                <option value="FIPE">FIPE</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="codigo_veiculo">Código do Veículo*:</label>
                            <input type="text" class="form-control form-control-sm" maxlength="20" formControlName="codigo_veiculo" required>
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <label for="apolice_seguro">Apólice Seguro*:</label>
                            <input type="text" class="form-control form-control-sm" maxlength="20" formControlName="apolice_seguro" required>
                        </div>
                    </ng-container>
                </div>
                <div class="form-row mb-4">
                    <div class="form-group col-12 col-md-2">
                        <a class="btn btn-sm btn-info text-white" (click)="addGarantia()"
                            title="Adicionar garantia">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Adicionar Garantia
                        </a><br>
                        <small class="text-danger" *ngIf="validaGarantias">Preencha todos os campos</small>
                    </div>
                </div>

                
                <div class="d-flex justify-content-between">
                    <h6>Dados das Parcelas</h6>
                    <div>
                        <a class="btn btn-sm btn-info text-white" (click)="openModalUpload(templateUpload)" title="Adicionar Arquivo de Parcelas">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Adicionar Arquivo de Parcelas
                        </a>
                        <!-- <a class="btn btn-sm btn-warning ml-2" (click)="changeStatusToCanceled()">Mudar Status</a> -->
                    </div>
                </div>
                <hr>
                <!-- parcelas -->
                <div class="form-row mb-1 bg-light p-2" formArrayName="parcelas" *ngFor="let parcela of parcelas.controls; let i = index" [ngClass]="{'hide' : parcela.value.status_parcela_id_f != 1 && parcela.value.status_parcela_id_f != 3 && showHide == true}">
                    <ng-container [formGroupName]="i">
                        <div class="form-group col-12 text-right mb-0" *ngIf="!parcela.value.status_parcela_id_f">
                            <button class="btn btn-sm btn-outline-secondary" (click)="removeParcela(i)">X</button>
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <label *ngIf="i < 1" for="codigo_controle_parcela_contrato_if">Nº controle parcela IF*:</label>
                            <input type="text" class="form-control form-control-sm" maxlength="20" required formControlName="codigo_controle_parcela_contrato_if">
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <label *ngIf="i < 1" for="data_vencimento_parcela">Data venc. parcela*:</label> 
                            <input type="date" class="form-control form-control-sm" required formControlName="data_vencimento_parcela">
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <label *ngIf="i < 1" for="valor_parcela">Valor parcela*:</label>
                            <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', align: 'left', decimal: ',' }" class="form-control form-control-sm" required formControlName="valor_parcela">
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <label *ngIf="i < 1" for="valor_principal_parcela">Valor principal parcela*:</label>
                            <input type="text" class="form-control form-control-sm" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', align: 'left', decimal: ',' }" required formControlName="valor_principal_parcela">
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <label *ngIf="i < 1" for="numero_parcela">Nº parcela*:</label>
                            <input type="text" class="form-control form-control-sm" maxlength="5" required formControlName="numero_parcela">
                        </div>
                        <div class="form-group col-12 col-md-2 mb-0">
                            <input type="text" hidden formControlName="status_parcela_id_f">
                            <label *ngIf="i < 1" for="status">Status parcela*:</label>
                            <select class="form-control form-control-sm" name="status" formControlName="status" #parcela_selected>
                                <option value="1" [hidden]="parcela.value.status_parcela_id_f == 3">Em Aberto</option>
                                <option value="2" [hidden]="parcela.value.status_parcela_id_f == 1 || parcela.value.status_parcela_id_f == 3">Paga</option>
                                <option value="3" [hidden]="parcela.value.status_parcela_id_f == 1">Parcialmente Pago</option>
                                <option value="4" [hidden]="parcela.value.status_parcela_id_f == 1 || parcela.value.status_parcela_id_f == 3">Portabilidade</option>
                                <option value="5" [hidden]="parcela.value.status_parcela_id_f == 1 || parcela.value.status_parcela_id_f == 3">Prejuízo</option>
                                <option value="6">Cancelada</option>
                                <option value="7" [hidden]="parcela.value.status_parcela_id_f == 1 || parcela.value.status_parcela_id_f == 3">Bloqueada</option>
                            </select>
                        </div>
                    </ng-container>
                </div>
                <div class="form-row mb-1">
                    <div class="form-group col-12 mb-2 d-flex justify-content-between">
                        <a class="btn btn-sm btn-info text-white" (click)="addParcela()" title="Adicionar parcela">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Adicionar Parcela
                        </a>
                        <a class="btn btn-sm btn-info text-white ml-2" (click)='showHideParcelas()'>Ver Mais</a>
                    </div>
                    <br>
                    <small class="text-danger" *ngIf="validaParcelas">Preencha todos os campos</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <ng-template #template>
        <div class="modal-body text-center">
            <p>Confirmar Correção</p>
            <small>Descreva o motivo da correção:</small>
            <input type="text" class="form-control form-control-sm" formControlName="motivo_alteracao">
            <small class="text-danger" *ngIf="motivoError">É necessário um motivo</small>
            <hr>
            <button type="button" class="btn btn-default mr-2" (click)="confirm()">Confirmar</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Fechar</button>
        </div>
    </ng-template>
</form>
<button class="btn btn-primary btn-sm btn-acao mr-2" (click)="openModal(template)">Solicitar Correção</button>

<ng-template #templateUpload>
    <form novalidate [formGroup]="formImport" class="p-3">
        <div class="col-12">
            <div class="form-group">
                <label for="importFile" class="">Selecione um arquivo</label>
                <input
                    type="file"
                    class="form-control form-control-sm inputUpload"
                    formControlName="importFile"
                    id="importFile"
                    (change)="onFileChange($event.target.files)"
                    [ngClass]="{'is-invalid': submitted && f.importFile.errors}"
                    accept=".csv"
                />
            </div>
        </div>
    
        <div class="col-12 mt-2">
            <div class="d-flex justify-content-end">
                <button (click)="import()" class="btn btn-sm btn-primary btn-acao px-3">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</ng-template>
