/*  NEW CSS */
/* .files label {
    font-family: Arial, 'sans-serif' !important;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 35px 0px 35px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    cursor: pointer;
}

.files label:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
}

.color label {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
}

input[type="file"] {
    display: none;
}

.blue {
    color: #2ea591;
}

.label-background {
    background-color: #d1ecf1;
    font-size: 18px;
} */

.inputUpload{
    border: 1px solid #ccc
}

.files label {
    background: red;
}
.files:before {
    background: red;
}

.hide {
    /* height: 0;
    overflow: hidden;
    padding: 0 !important;
    margin: 0; */
    display: none;
}