.badge{
    padding: 5px;
    min-width: 20px;
    height: 20px;
    color: white;
}

.bg-mark{
    background-color: #FCCDE5 !important; /* #EF7F7F  */
}

.table-hover tbody tr.bg-mark:hover {
    /* background-color: #dee2e6; */
    background-color: #EF7F7F !important;
    color: #fff;
}