<div class="d-flex justify-content-between mb-3">
	<h1 class="page-heading">{{title}}</h1>
	<div class="text-right">
			<botao-voltar class="mr-2"></botao-voltar>
		<botao-novo routerLink="/arquivos/importar"></botao-novo>
	</div>
</div>

<!-- Tabela -->


<!-- Alert -->
<!-- <div id="alerta" *ngIf="displayAlert" class="alert alert-warning alert-dismissible fade show" role="alert"
	style="opacity:1;bottom: 2%;position: fixed;right: 2%;">
	<button type="button" class="close" (click)="fecharAlert()">&times;</button>
	{{mensagemAlert}}
</div> -->