<div class="d-flex justify-content-between mb-3">
    <h1 class="page-heading">{{title}}</h1>
</div>

<!-- filtro -->
<form class="row" *ngIf="userPermissionOperacao" [formGroup]="painelFiltro">
    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <small><strong>Filtros:</strong></small>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-2">
                        <label for="cnpjDetentor">Codigo:</label>
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-3">
                                <input type="text" class="form-control form-control-sm" mask="00.000.000/0000-00" name="cnpjDetentor" id="cnpjDetentor" formControlName="cnpjDetentor">
                            </div>
                            <div class="col-12 col-sm-8 col-md-9">
                                <button type="button" class="btn btn-sm btn-light mr-2" type="submit" (click)="limparFiltro()">
                                    Limpar Filtros
                                </button>
                                <button type="button" class="btn btn-sm btn-info" (click)="filtrar()">
                                    Aplicar Filtros
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-container *ngIf="values">
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="h5">Registros</h2>
        </div>
        <div class="col-12 col-md-4 col-xl-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <small class="text-aqua-blue">Valor <b>1</b></small>
                    <p class="text-uppercase h4 mb-0">{{values.contratosRecebidosDia}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <small class="text-aqua-blue">Valor <b>2</b></small>
                    <p class="text-uppercase h4 mb-0">{{values.contratosRecebidosMes}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <small class="text-aqua-blue">Valor <b>3</b></small>
                    <p class="text-uppercase h4 mb-0">{{values.totalContratosRecebidos}}</p>
                </div>
            </div>
        </div>

        <div class="col-12"></div>
    </div>

</ng-container>