<div class="d-flex justify-content-between mb-3">
    <h1 class="page-heading">{{title}}</h1>
    <div class="text-right">
        <botao-voltar></botao-voltar>
    </div>
</div>

<!-- Form -->
<form class="row" [formGroup]="registrosFiltro">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <label>Contrato:</label>
                        <input type="text" class="form-control form-control-sm" formControlName="contrato"
                            id="codigoContrato" placeholder="Contrato">
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 mb-2">
                        <label>CNPJ Originador:</label>
                        <input type="text" class="form-control form-control-sm" formControlName="cnpjOriginador"
                            id="cnpjOriginador" placeholder="CNPJ" [dropSpecialCharacters]="true" mask="00.000.000/0000-00">
                    </div>
                    <div class="col-12 col-sm-4 col-md-2 mb-2">
                        <label>Data Inicial:</label>
                        <input type="date" class="form-control form-control-sm" formControlName="dataInicial"
                            id="dataInicial" placeholder="dd/mm/aaaa">
                    </div>
                    <div class="col-12 col-sm-4 col-md-2 mb-2">
                        <label>Data Final:</label>
                        <input type="date" class="form-control form-control-sm" formControlName="dataFinal"
                            id="dataFinal" placeholder="dd/mm/aaaa">
                    </div>
                    <div class="col-12 col-sm-4 col-md-2 text-right">
                        <label>&nbsp;</label>
                        <div class="">
                            <button type="button" class="btn btn-sm btn-info btn-block" (click)='filtrarResultados()'>
                                Aplicar Filtros
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Botao Atualizar Resultados -->
<!-- <div class="row mb-2" *ngIf="dataParcelas">
    <div class="col-12 text-right">
        <button class="btn btn-sm btn-primary btn-acao" (click)='atualizarParcelas()'>
            <fa-icon [icon]="faCheck"></fa-icon>
            Atualizar Parcelas
        </button>
    </div>
</div> -->

<!-- Tabela -->
<!-- <div class="table-responsive card">
    <small *ngIf="dataParcelasNaoEncontrato == true" class="p-3">Nenhum resultado encontrado</small>
    <table *ngIf="dataParcelas" class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="">
                <th>
                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="checkAllInput" (click)="checkAll()">
                        <label class="form-check-label" for="exampleCheck1"></label>
                    </div>
                </th>
                <th class="" *ngFor="let head of headElements" scope="col"><b>{{ head }}</b></th>
            </tr>
        </thead>
        <tbody class="">
            <tr *ngFor="let contrato of dataParcelas let i=index">
                <ng-container>
                    <td>
                        <div class="form-group form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="{{i}}">
                            <label class="form-check-label" for="{{i}}"></label>
                        </div>
                    </td>
                    <td>{{contrato.numero_parcela}}</td>
                    <td>{{contrato.data_vencimento_parcela | date:'dd/M/yyyy'}}</td>
                    <td>{{contrato.status_parcela}}</td>
                    <td>{{contrato.valor_principal_parcela | currency:'BRL' }}</td>
                    <td>{{contrato.valor_parcela | currency:'BRL' }}</td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div> -->



<!-- New Table -->
<div class="card">
    <small *ngIf="dataParcelasNaoEncontrado == true" class="p-3">Nenhum resultado encontrado</small>
    <p-table *ngIf="dataParcelas" class="table table-striped table-bordered table-hover" [value]="dataParcelas" dataKey="id" editMode="row">
        <ng-template pTemplate="header">
            <tr>
                <th class="" *ngFor="let head of headElements" scope="col"><b>{{ head }}</b></th>
                <th style="width:8em"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" class="form-control form-control." [(ngModel)]="rowData.numero_parcela" disabled>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.numero_parcela}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="date" class="form-control form-control." [(ngModel)]="rowData.data_vencimento_parcela" disabled>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.data_vencimento_parcela | date:'dd/M/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statusParcela" [(ngModel)]="rowData.status_parcela" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <ng-container *ngIf="rowData.status_parcela != 1 && rowData.status_parcela != 2 && rowData.status_parcela != 3 && rowData.status_parcela != ''">{{rowData.status_parcela}}</ng-container>
                            <ng-container *ngIf="rowData.status_parcela == 1">Pagamento Total</ng-container>
                            <ng-container *ngIf="rowData.status_parcela == 2">Pagamento Parcial</ng-container>
                            <ng-container *ngIf="rowData.status_parcela == 3">Prejuízo</ng-container>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" dir="rtl" pInputText class="form-control form-control." [(ngModel)]="rowData.valor_principal_parcela" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.valor_principal_parcela | currency:'BRL' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" dir="rtl" pInputText class="form-control form-control." [(ngModel)]="rowData.valor_parcela" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.valor_parcela | currency:'BRL' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow class="btn btn-sm btn-info" (click)="onRowEditInit(rowData)">
                        Atualizar
                    </button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow class="btn btn-sm btn-info" style="margin-right: .5em" (click)="onRowEditSave(rowData)">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow class="btn btn-sm btn-danger" (click)="onRowEditCancel(rowData, ri)">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>