<!-- ==========================================================================
      MENU SIDE-BAR-NAV
=========================================================================== -->
<div id="sidebar-wrapper" class="page-sidebar page-sidebar-fixed scroll mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible; height: 191px; top: 60px">

  <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
    <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0; left: 0" dir="ltr">

      <!-- INICIO MENU -->
      <ul class="x-navigation x-navigation-sidebar">

        <!-- Temporário
        <li>
          <a id="menu-medicao" href="/usuarios" data-toogle="tooltip" data-placement="top" title="Medição">
            <span class="fa fa-edit"></span>
            <span class="xn-text label-hide">USUÁRIOS</span></a>
        </li> -->

        <!-- Implantação -->
        <li class="xn-openable">
          <a id="menu-implantacao" href="#" data-toogle="tooltip" data-placement="top" title="Implantação">
            <span class="fa fa-book"></span>
            <span class="xn-text label-hide">Implantação</span>
          </a>
          <ul>
            <li> <!-- Atividades de Controle -->
              <a id="sub-menu-atividades" href="/atividades" data-toogle="tooltip" data-placement="top" title="Atividades de Controle">
                <span class="xn-text">Atividades de Controle</span>
              </a>
            </li>
            <li> <!-- Usuários -->
              <a id="sub-menu-usuarios" href="/usuarios" data-toogle="tooltip" data-placement="top" title="Usuários">
                <span class="xn-text">Usuários</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- PCP -->
        <li class="xn-openable">
          <a id="menu-pcp" href="#" data-toogle="tooltip" data-placement="top" title="PCP">
            <span class="fa fa-wrench"></span>
            <span class="xn-text label-hide">PCP</span>
          </a>
          <ul>
            <li>
              <a id="sub-menu-item-menu-1" href="/inicio" data-toogle="tooltip" data-placement="top" title="Item Menu 1">
                <span class="xn-text">Item Menu 1</span>
              </a>
            </li>
            <li>
              <a id="sub-menu-item-menu-2" href="/inicio" data-toogle="tooltip" data-placement="top" title="Item Menu 1">
                <span class="xn-text">Item Menu 2</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Controle de Qualidade -->
        <li class="xn-openable">
          <a id="menu-controle-qualidade" href="#" data-toogle="tooltip" data-placement="top" title="Controle de Qualidade">
            <span class="fa fa-file-o"></span>
            <span class="xn-text label-hide">Controle de Qualidade</span>
          </a>
          <ul>
            <li>
              <a id="sub-menu-item-menu-1" href="/inicio" data-toogle="tooltip" data-placement="top" title="Item Menu 1">
                <span class="xn-text">Item Menu 1</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Medição -->
        <li>
          <a id="menu-medicao" href="/inicio" data-toogle="tooltip" data-placement="top" title="Medição">
            <span class="fa fa-money"></span>
            <span class="xn-text label-hide">Medição</span></a>
        </li>

        <!-- Configurações -->
        <li class="xn-openable">
          <a href="#" id="menu-configuracoes" data-toogle="tooltip" data-placement="top" title="Configurações">
            <span class="fa fa-cog"></span>
            <span class="xn-text label-hide">Configurações</span></a>
          <ul>
            <li> <!-- Parâmetros -->
              <a id="sub-menu-parametros" href="inicio" data-toogle="tooltip" data-placement="top" title="Parâmetros">
                <span class="xn-text">Parâmetros</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- FIM MENU -->

    </div>
  </div>

  <div id="mCSB_1_scrollbar_vertical"
    class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block">
    <div class="mCSB_draggerContainer">
      <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="
            position: absolute;
            min-height: 50px;
            height: 137px;
            top: 0px;
            display: block;
            max-height: 200px;
          " oncontextmenu="return false;">
        <div class="mCSB_dragger_bar" style="line-height: 50px"></div>
      </div>
      <div class="mCSB_draggerRail"></div>
    </div>
  </div>

  <!-- INICIO COPYRIGHT -->
  <div class="logo-isi-engenharia">
    <img class="img-logo-isi" src="/assets/img/isiengenharia_logo.png" alt="IsiEngenharia" />
    <div class="text-color-white texto-logo-isi">
      © ISI Engenharia Ltda. - 2020 <br/>
      SCM (Vr. [POC] 01/11/2020)
    </div>
  </div>
  <!-- FIM COPYRIGHT -->

</div>