#sidebar-wrapper .list-group-item{
  border: 0;
  background: transparent;
  color: #707070;
  font-size: 13px;
}
#sidebar-wrapper .list-group-item:hover{
  background: #d0d0d0;
}
#sidebar-wrapper .sub-list-group-item{
  /* padding-left: 60px; */
  padding-right: 0;
  font-size: 13px;
}
#sidebar-wrapper .bg-opacity{
  background: rgba(255, 255, 255, .04)
}

/* Icons */
fa-icon{
  opacity: .4;
  width: 30px;
  text-align: center
}

.link-active{
  background: #01111d !important;
}

/* Backgrounds & Colors */
.bg-light-gray {
  background-color:#f0f0f0;
}
