<div class="bg-light-gray" id="sidebar-wrapper" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group list-group-flush">
        <!-- <img class="my-4 ml-4" src="../../assets/images/cerc-logo.png" alt="" width="100"> -->

        <!-- INICIO MENU -->
        <div class="" id="headingTwo">
            <!-- Atividades de Controle -->
            <div class="mb-0">
                <!-- Implantação -->
                <div class="accordion" id="accordionImplantacao">
                    <a class="list-group-item list-group-item-action" data-toggle="collapse"
                    data-target="#collapseImplantacao" aria-expanded="false" aria-controls="collapseImplantacao">
                        <fa-icon [icon]="faBook"></fa-icon>&nbsp;
                        Implantação
                    </a>
                    <!-- Atividades de Controle -->
                    <div id="collapseImplantacao" class="collapse bg-opacity" aria-labelledby="headingImplantacao"
                        data-parent="#accordionImplantacao">
                        <a routerLink="/atividades" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                           <fa-icon [icon]="faEdit"></fa-icon>&nbsp;
                           <span class="ml-3">Atividades de Controle</span>
                        </a>
                    </div>
                    <!-- Usuários -->
                    <div id="collapseImplantacao" class="collapse bg-opacity" aria-labelledby="headingImplantacao"
                        data-parent="#accordionImplantacao">
                        <a routerLink="/usuarios" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                           <fa-icon [icon]="faUsers"></fa-icon>&nbsp;
                           <span class="ml-3">Usuários</span>
                        </a>
                    </div>
                </div>

                <!-- PCP -->
                <div class="accordion" id="accordionPCP">
                    <a class="list-group-item list-group-item-action" data-toggle="collapse"
                        data-target="#collapsePCP" aria-expanded="false" aria-controls="collapsePCP">
                        <fa-icon [icon]="faWrench"></fa-icon>&nbsp;
                        PCP
                    </a>
                    <div id="collapsePCP" class="collapse bg-opacity" aria-labelledby="headingPCP"
                        data-parent="#accordionPCP">
                        <a routerLink="/inicio" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                            <span class="ml-3">Item Menu 1</span>
                        </a>
                    </div>
                    <div id="collapsePCP" class="collapse bg-opacity" aria-labelledby="headingPCP"
                        data-parent="#accordionPCP">
                        <a routerLink="/inicio" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                            <span class="ml-3">Item Menu 2</span>
                        </a>
                    </div>
                    <div id="collapsePCP" class="collapse bg-opacity" aria-labelledby="headingPCP"
                        data-parent="#accordionPCP">
                        <a routerLink="/inicio" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                            <span class="ml-3">Item Menu 3</span>
                        </a>
                    </div>
                </div>

                <!-- Controle de Qualidade -->
                <div class="accordion" id="accordionControleQualidade">
                    <a class="list-group-item list-group-item-action" data-toggle="collapse"
                        data-target="#collapseControleQualidade" aria-expanded="false" aria-controls="collapseControleQualidade">
                        <fa-icon [icon]="faFileAlt"></fa-icon>&nbsp;
                        Controle Qualidade
                    </a>
                    <div id="collapseControleQualidade" class="collapse bg-opacity" aria-labelledby="headingControleQualidade"
                        data-parent="#accordionControleQualidade">
                        <a routerLink="/inicio" routerLinkActive="link-active"
                           class="list-group-item list-group-item-action sub-list-group-item">
                            <span class="ml-3">Item Menu 1</span>
                        </a>
                    </div>
                </div>

                <!-- Medição -->
                <div class="accordion" id="accordionMedicao">
                    <a routerLink="/inicio" routerLinkActive="link-active" 
                       class="list-group-item list-group-item-action">
                        <fa-icon [icon]="faMoneyBillAlt"></fa-icon>&nbsp;
                        Medição
                    </a>
                </div>

                <!-- Configuração -->
                <div class="accordion" id="accordionConfiguracao">
                    <a routerLink="/inicio" routerLinkActive="link-active" 
                       class="list-group-item list-group-item-action">
                        <fa-icon [icon]="faCogs"></fa-icon>&nbsp;
                        Configuração
                    </a>
                </div>
            </div>
        </div>
        <!-- FIM MENU -->

        <!-- INICIO COPYRIGHT -->
        <div class="logo-isi-engenharia">
            <img class="img-logo-isi" src="/assets/images/isiengenharia_logo.png" alt="IsiEngenharia">
            <div class="texto-logo-isi">
                © ISI Engenharia 2020 - SCM (Vr. [POC] 01/11/2020)
            </div>
        </div>
        <!-- FIM COPYRIGHT -->
    </div>
</div>