#sidebar-wrapper .list-group-item{
  border: 0;
  background: transparent;
  color: #707070;
  font-size: 13px;
}
#sidebar-wrapper .list-group-item:hover{
  background: #d0d0d0;
}
#sidebar-wrapper .sub-list-group-item{
  /* padding-left: 60px; */
  padding-right: 0;
  font-size: 13px;
}
#sidebar-wrapper .bg-opacity{
  background: rgba(255, 255, 255, .04)
}

/* Icons */
fa-icon{
  opacity: .4;
  width: 30px;
  text-align: center
}

.link-active {
  color: #d0d0d0 !important;
  background: #707070 !important;
}

.link-active fa-icon {
  opacity: 1;
}

/* Backgrounds & Colors */
.bg-light-gray {
  background-color:#f0f0f0;
}

/* Copyright */
.logo-isi-engenharia {
  position: fixed;
  bottom: 0;
  margin-left: 20px;
  z-index: 1;
  filter: invert(50%);
  min-width: 250px;
}

.logo-isi-engenharia .img-logo-isi {
  width: 50px;
  float: left;
}

.logo-isi-engenharia .texto-logo-isi {
  float: left;
  width: 130px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
}
