/* You can add global styles to this file, and also import other style files */

html * {
  outline: none !important;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: #F6F8F9;
  /* font-size: .9rem; */
}

/* Sidebar */
#sidebar-wrapper {
  min-height: 100vh;
  height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Backgrounds & Colors */
.bg-dark-blue{
  background-color:#001c30;
}
.bg-aqua-blue{
  background: #18ae93;
}
.text-aqua-blue{
  color: #18ae93;
}

/* Buttons */
.btn{
  border-radius: 4px;
  border: none !important;
}
.btn-primary {
  color: #fff;
  background-color:#001c30;
}
.btn-primary:hover {
  background-color:#01111d;
}
.btn-primary.btn-acao {
  background-color:#18ae93;

}
.btn-primary.btn-acao:hover {
  background-color:#0f967d;
}
.mat-icon-button.mat-primary {
  color: #21274a;
}

/* Heading, Title, Subtitle, Text, Markers */
.page-heading{
  font-size: 1.4em;
  font-weight: bold;
  color: #001c30;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Hind', sans-serif;
}

.mini-text{
  font-size: .8em;
  line-height: 1.3em;
  color: #999;
}

/* Modal, Popup */
.modal-content{
  border: 0;
}

/* Cards */
.card{
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
}
.card h6{
  font-weight: bold;
  color: #18ae93;
  text-transform: uppercase;
}

/* Tables */
.table{
  margin-bottom: 0;
}
.table td, .table th{
  font-size: .8em;
  /* cursor: pointer; */
  padding: .5rem .5rem 0 .5rem;
}
.table-hover td, .table-hover th{
  font-size: .8em;
  cursor: pointer;
  padding: .5rem .5rem 0 .5rem;
}

.table th {
  border-top: 0;
  background: #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
}
 .table-hover tbody tr:hover { 
  background-color: #428bca;
  color: #fff;
}
.input-bordless{
  background: transparent;
}

/* Forms & Inputs */
.input-bordless {
  border-width:0px;
  border:none;
}
form label{
  font-size: .8em;
}

/* Badges e Status */
.badge-pill{
  padding: .5em .4em;
}

/* Dividers */
hr{
  border-style: dotted;
}


/* Pagina��o */
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #001c30;
  border-color: #001c30;
}
.page-link {
  color: #001c30;
}

/* Placeholder */

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  font-size: .85em;
  color: #ccc;
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  font-size: .85em;
  color: #ccc;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  font-size: .85em;
  color: #ccc;
}

.badge.consistent {
  background-color: #25bf4d;
}

.badge.neutral {
  background-color: #1f77b2;
}

.badge.warning {
  background-color: #eea40c;
}

.badge.critical {
  background-color: #d51c2f;
}