<div class="d-flex justify-content-between mb-3">
	<h1 class="page-heading">{{title}}</h1>
	<div class="text-right">
		<botao-voltar></botao-voltar>
	</div>
</div>

<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="row">
	<div class="col-12 col-md-6 mb-3">
		<div class="card">
			<div class="card-body">
				<h6 class="">Dados</h6>
				<p class="mini-text">Para alterar um usuário existente, preencha todos os campos abaixo:</p>
				<hr>
				<div class="form-row">
					<div class="form-group col-12">
						<label for="nome">Nome</label>
						<input type="text" class="form-control form-control-sm" id="nome" formControlName="nome" required>
					</div>
					<div class="form-group col-12">
						<label for="login">Login</label>
						<input type="text" class="form-control form-control-sm" id="login" formControlName="login" required>
					</div>
					<div class="form-group col-12">
						<label for="email">Email</label>
						<input type="text" class="form-control form-control-sm" id="email" formControlName="email" required>
					</div>

					<div class="form-group col-12">
						<label>Situação do usuário</label><br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="ativo" value="1" formControlName="ativo" [checked]="usuarioForm.value.ativo == 1">
							<label class="form-check-label" for="ativo">Ativo</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="ativo" value="0" formControlName="ativo" [checked]="usuarioForm.value.ativo == 0">
							<label class="form-check-label" for="ativo">Inativo</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 mb-3">
		<div class="card">
			<div class="card-body">
				<h6>Perfil</h6>
				<p class="mini-text">Defina um perfil para o usuário</p>
				<hr>
				<select class="form-control form-control-sm" name="perfilId" id="perfilId" formControlName="perfilId">
					<ng-container *ngFor="let item of listaPerfis">
						<option value="{{item.id}}">{{item.nome}}</option>
					</ng-container>
				</select>
			</div>
		</div>
	</div>
	<div class="col-12">
		<button class="btn btn-primary btn-acao mr-2" type="submit" [disabled]="!usuarioForm.valid">Atualizar</button>
	</div>
</form>